/* semantic color variables for this project */
:root {
  --color-background: #000;
  --color-background-input: rgb(37, 38, 43);
  --color-background-button: rgb(142, 71, 255);

  --color-text: #fff;
  --color-link: rgb(188, 191, 255);
  --color-text-input: rgb(165, 165, 165);

  --color-link-hover: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  width: 100%;
  height: 100%;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
  color: var(--color-text);
}

p, label {
  font-size: 1rem;
  font-weight: 400;
  color: var(--color-text);
}

.bg-black {
  background-color: var(--color-background);
}

.bg-violet {
  background-color: var(--color-background-button);
}

.white {
  color: var(--color-text);
}

.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: flex-start;
}

.align-center {
  align-items: center;
}

.w-75 {
  width: 75%;
}

.w-25 {
  width: 25%;
}

.w-50 {
  width: 50%;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.max-w-365 {
  max-width: 365px;
}

.form-container {
  width: 100%;
  margin: 0 auto;
}

.gap-2 {
  gap: 0.5rem
}

.gap-3 {
  gap: 1rem;
}

.gap-4 {
  gap: 1.5rem;
}

.mt-4 {
  margin-top: 1.5rem;
}

.mb-4 {
  margin-bottom: 1.5rem;
}

.p-4 {
  padding: 1.5rem;
}

.hidden {
  display: none;
}