@import './base.css';

#app {
  max-width: 100%;
  min-height: 100vh;
  height: 100vh;
  font-weight: normal;
}

main {
  height: 100%;
}

a {
  text-decoration: underline;
  color: var(--color-link);
  transition: 0.4s;
}

a:hover {
  color: var(--color-text);
  cursor: pointer;
}

.calendar-header {
  background-color: var(--color-background-input);
}

.period ul, .navigation button {
  background-color: var(--color-background-button) !important;
}

.period ul li {
  color: var(--color-text) !important;
}

.cv-header-day {
  background-color: var(--color-background-input);
  color: var(--color-text-input);
}

.cv-day {
  position: relative;
}

.cv-day-number {
  display: none !important;
}

.cv-item {
  color: var(--color-text);
}

.day-cell {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 5px;
  z-index: -1;
  background-color: var(--color-background-input);
  color: var(--color-text-input);
}
.highlight-today {
  background-color: var(--color-background-button);
  color: var(--color-text);
}