@import './base.css';

#app {
  max-width: 100%;
  min-height: 100vh;
  height: 100vh;
  font-weight: normal;
}

main {
  height: 100%;
}

a {
  text-decoration: underline;
  color: var(--color-link);
  transition: 0.4s;
}

a:hover {
  color: var(--color-text);
  cursor: pointer;
}

.input-wrapper {
  margin-bottom: 1rem;
}

.input-wrapper input {
  width: 100%;
  padding: 0.75rem 1rem;
  border-radius: 12px;
  background-color: var(--color-background-input);
  border: none;
  color: var(--color-text-input);
  font-size: 1rem;
  line-height: 1.5rem;
  min-height: 58px;
}

.cv-day {
  position: relative;
}

.cv-day-number {
  display: none !important;
}

.cv-item {
  color: var(--color-text);
}

.day-cell {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 5px;
  z-index: -1;
}
.highlight-today {
  background-color: var(--color-background-button);
  color: var(--color-text);
}